body {
    margin: 0;
    overflow-y: hidden;
    font-family: consolas, 'IBM Plex Mono', 'Segoe UI', sans-serif;
    font-size: 16px;
    color: #747474;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "header header" "deck-nav card-canvas";
}

#overlay-background {
    height: calc(100vh - 64px);
    width: 100vw;
    margin: 64px 0 0 272px;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.Note-Deck-Logo {
    display: inline-block;
    background-image: url('/static/assets/Note-Deck-logo.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.add-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Add-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.action-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Action-Menu.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.edit-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Edit-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.delete-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Delete-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.deck-icon {
    height: 60px;
    width: 45px;
    display: inline-block;
    background-image: url('/static/assets/Deck-Icon.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.list-view-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/List-View-Icon.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.pallet-icon-dark {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Color-Pallet-Dark.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.menu-icon-small {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Menu-Button.svg');
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.close-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Close-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.bold-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Bold-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.italic-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Italic-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.underline-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Underline-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.list-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/List-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.image-button-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url('/static/assets/Image-Button.svg');
    background-repeat: no-repeat;
    background-size: auto auto;
}

.link-icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url('/static/assets/Link-Icon.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
}