{% extends 'base.html' %}

{% block title %} Note-Deck | Login {% endblock %}

{% block body %} 

<div id="login-signup-form-container">

    <form id="login-form" method="POST">

        <div id="login-signup-form">
     
            <span id="Note-Deck-logo" class="Note-Deck-Logo"></span>

            <input type="email" placeholder="Email Address" name="email">
            <input type="password" placeholder="Password" name="password">
            <button form="login-form">Log-in</button>

            {% if error %}
            <span id="login-signup-form-error">*{{error}}</span>
            {% endif %}

            <span>Dont have an account? <a href="{{url_for('users.get_signUp')}}">sign-up.</a></span>

        </div>

    </form>

</div>

{% endblock %}