{% extends 'base.html' %}

{% block title %}Note-Deck | {{deck_title}}{% endblock %}

{% block body %}
<div id="grid-container">

    <div id="header">

        <button id="menu-button"><i id="menu-button-icon"></i></button>

        <span class="Note-Deck-Logo"></span>

        <div id="search-container">

            <form id="search-form" method="POST">     

                <input type="text" value="{{search_term}}" placeholder="Quick Search" name="search-term">
                <button form="search-form" name="search-form"><i id="search-button-icon"></i></button>
            
            </form>

        </div>

        <button id="profile-menu-button">{{username[0]}}</button>

    </div>

    <nav id="deck-navigation">

        <div id="create-deck-form-container">

            <form id="deck-input-form" method="POST">

                <i id="pallet-icon"></i>

                {% if update_deck.id %}
                <input type="hidden" value="{{update_deck.id}}" name="id">
                {% else %}
                <input type="hidden" name="id">
                {% endif %}

                {% if update_deck.color %}
                <input type="color" value="{{update_deck.color}}" name="color">
                {% else %}
                <input type="color" value="#747474" name="color">
                {% endif %}

                {% if update_deck.title %}
                <input type="text" value="{{update_deck.title}}" placeholder="Deck Title" maxlength="128" name="title">
                {% else %}
                <input type="text" placeholder="Deck Title" maxlength="128" name="title">
                {% endif %}

                <button form="deck-input-form" name="deck-form"><i class="add-button-icon"></i></button>

            </form>
                
        </div>

        {% if deck_form_error %}
        <span id = "deck_form_error">{{deck_form_error}}</span>
        {% endif %}

        <div id="no-decks">
            <i class="deck-icon"></i>
            <span>No decks</span>
        </div>

        <div id="decks">

            {% for deck in decks %}
            <div class="deck">

                <a href="{{url_for('deck_pages.get_noteDeck',  deck_id = deck.id , deck_title = deck.title, deck_color = deck.color)}}">

                    <span class="deck-color" style="--bgcolor: {{deck.color}};"></span>
                    <span class="deck-title">{{deck.title}}</span>
                </a>

                <button class="deck-action-button"><i class="action-button-icon"></i></button>

                <div class="deck-action-buttons-container">
                    <a href="{{url_for('deck_pages.updateDeck',  deck_id = deck.id, current_deck_id = current_deck.id)}}"><i class="edit-button-icon"></i>Edit</a>
                    <a href="{{url_for('deck_pages.deleteDeck',  deck_id = deck.id, current_deck_id = current_deck.id)}}"><i class="delete-button-icon"></i>Delete</a>
                </div>

            </div>
            {% endfor %}

        </div>

    </nav>

    <div id="overlay-background"></div>

    {% block main %}
    <main id="card-canvas">

        <div id="no-deck">
            <span>Create some decks to get started!</span>
            <ul>
                <li><span>Go to the menu<i class="menu-icon-small"></i></span></li>
                <li><span>Give your deck a name.</span></li>
                <li><span>Pick a color for you deck. <i class="pallet-icon-dark"></i></span></li>
                <li><span>Finally add your deck. <i class="add-button-icon"></i></span></li>
            </ul>
        </div>

        <div id="deck">

            <div id="deck-header">

                <i id="card-icon" style="--bgcolor: {{deck_color}};"></i>
                <span id="deck-title">{{deck_title}}</span>

                <button id="change-view-button">
                    <i class="list-view-icon"></i>
                    <span>List</span>
                </button>

            </div>

            <div id="no-cards">
                <span>No cards in this deck</span>
                <span>Add a card using the button below <i class="add-button-icon"></i></span>
            </div>

            <div id="cards-container">

                <div class="card" id="card-form" style="--display: {{card_form_state}}">

                    <div class="card-image-container">

                        {% if update_card_image.data %}
                        <button id="close-image-button" style="display: block;"><i class="close-button-icon"></i></button>
                        <img id="preview-image" src="data:image/{{update_card_image.extention}};base64, {{update_card_image.data}}">
                        {% else %}
                        <button id="close-image-button"><i class="close-button-icon"></i></button>
                        <img id="preview-image" src="">
                        {% endif %}

                    </div>

                    <form id="card-input-form" method="POST" enctype="multipart/form-data">

                        
                        {% if update_card.id %}
                        <input type="hidden" value="{{update_card.id}}" name="id">
                        {% else %}
                        <input type="hidden" name="id">
                        {% endif %}
                        
                        <input id="image-input-button" type="file" accept="image/*" name="image" hidden>

                        {% if update_card.title %}
                        <input id="card-title-input" type="text" value="{{update_card.title}}" name="title" hidden>
                        {% else %}
                        <input id="card-title-input" type="text" name="title" hidden>
                        {% endif %}

                        {% if update_card.content %}
                        <input id="card-content-input" type="text" value="{{update_card.content}}" name="content" hidden>
                        {% else %}
                        <input id="card-content-input" type="text" value="" name="content" hidden>
                        {% endif %}

                    </form>

                    <div id="card-form-header">

                        {% if update_card.title %}
                        <div class="card-title editable" role="text" data-placeholder="Title" contenteditable>{{update_card.title}}</div>
                        {% else %}
                        <div class="card-title editable" role="text" data-placeholder="Title" contenteditable></div>
                        {% endif %}
                        
                    </div>

                    <div id="card-form-content">

                        {% if update_card.content %}
                        <div class="card-textarea editable" role="textbox" data-placeholder="Write a text-card" contenteditable>{{update_card.content | safe}}</div>
                        {% else %}
                        <div class="card-textarea editable" role="textbox" data-placeholder="Write a text-card" contenteditable></div>
                        {% endif %}

                    </div>

                    <div class="rich-text-buttons-container">
                        <button id="bold-button"><i class="bold-button-icon"></i></button>
                        <button id="underline-button"><i class="underline-button-icon"></i></button>
                        <button id="italic-button"><i class="italic-button-icon"></i></button>
                        <button id="list-button"><i class="list-button-icon"></i></button>
                        <label for="image-input-button"><i class="image-button-icon"></i></label>
                    </div>

                    <div class="card-form-actions-container">
                        <button id="close-card-form-button">Close</button>
                        <button id="save-data-card-form-button" name="card-form" form="card-input-form">Save</button>
                    </div>

                </div>

                {% for card in cards %}
                <div id="{{card.id}}" class="card">

                    <div class="card-image-container">
                        {% if card.image.data %}
                        <img class src="data:image/{{card.image.extention}};base64, {{card.image.data}}">
                        {% endif %}
                    </div>

                    <div class="card-header">

                        <div class="card-title">{{card.title}}</div>

                        <button class="card-action-button"><i class="action-button-icon"></i></button>

                        <div class="card-action-buttons-container">
                            <a href="{{url_for('deck_pages.updateCard', card_id = card.id, current_deck_id = current_deck.id)}}"><i class="edit-button-icon"></i>Edit</a>
                            <a href="{{url_for('deck_pages.deleteCard', card_id = card.id, current_deck_id = current_deck.id)}}"><i class="delete-button-icon"></i>Delete</a>
                        </div>

                    </div>

                    <div class="card-content">

                        {% if card.content %}
                        <div class="card-textarea">{{card.content | safe}}</div>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}

            </div>

            <button id="add-card-button"><i class="add-button-icon"></i></button>

        </div>

    </main>
    {% endblock %}

</div>
{% endblock %}