{% extends 'note-deck.html' %}

{% block title %}Note-Deck | {{search_title}}{% endblock %}


{% block main %}

<main id="card-canvas">

    <div id="deck">

        <div id="search-header">

            <span id="search-title">{{search_title}}</span>

            <button id="change-view-button">
                <i class="list-view-icon"></i>
                <span>List</span>
            </button>

        </div>

        <div id="no-results">
            <span>No results</span>
        </div>
        
        {% if cards and searched_decks %}

        <div class="search-results-header">
            <span>Decks</span>
        </div>

        {% endif %}

        <div id="searched-decks-container">

            {% for deck in searched_decks %}

            <div class="searched-deck">
                <a href="{{url_for('deck_pages.get_noteDeck',  deck_id = deck.id , deck_title = deck.title, deck_color = deck.color)}}"><i id="card-icon-small" style="--bgcolor: {{deck.color}}"></i>{{deck.title}}<i class="link-icon"></i></a>
            </div>

            {% endfor %}

        </div>

        {% if searched_decks and cards %}

        <div class="search-results-header">
            <span>Cards</span>
        </div>

        {% endif %}

        <div id="cards-container">

            {% for card in cards %}
            <div class="card">

                <div class="card-image-container">
                    {% if card.image.data %}
                    <img class src="data:image/{{card.image.extention}};base64, {{card.image.data}}">
                    {% endif %}
                </div>

                <div class="card-header">

                    {% for deck in decks %}
                    {% if deck.id == card.deck_id %}

                    <div class="card-title">
                        <a href="{{url_for('deck_pages.get_noteDeck',  deck_id = deck.id , deck_title = deck.title, deck_color = deck.color)}}#{{card.id}}">{{card.title | safe}}<i class="link-icon"></i></a>
                        <span><i id="card-icon-small" style="--bgcolor: {{deck.color}}"></i> {{deck.title}}</span>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>

                <div class="card-content">

                    {% if card.content %}
                    <div class="card-textarea">{{card.content | safe}}</div>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

        </div>

    </div>

</main>

{% endblock %}